<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>

<h2>Edit Product</h2>

<form th:action="@{/product/update}" th:object="${product}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />

    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br><br>

    <label>Price:</label>
    <input type="text" th:field="*{price}" /><br><br>

    <label>Brand:</label>
    <input type="text" th:field="*{brand}" /><br><br>

    <label>Quantity:</label>
    <input type="number" th:field="*{quantity}" /><br><br>

    <label>Image:</label>
    <input type="file" name="imageFile" /><br><br>

    <button type="submit">Update Product</button>
</form>

</body>
</html>
