<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/Styles.css}">
</head>
<body >
	
	<h2>Display all products</h2>
	<div th:if="${SuccessMessage}" >
		<p th:text="${SuccessMessage}"></p>
	</div>
	
	<div th:if="${deleteMsg}">
		<p th:text="${deleteMsg}">
			
		</p>
		
	</div>
	
	<table border='5' class="table-success">
		<tableHead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th>Brand</th>
			<th>Quantity</th><br><br>
			<th>Image</th>
			<th>Actions</th>
		</tr>
		</tableHead>
		
		<tableBody>
		<tr th:each="product:${products}">
			<td th:text="${product.id}"></td>
			<td th:text="${product.name}"></td>
			<td th:text="${product.price}"></td>
			<td th:text="${product.brand}"></td>
			<td th:text="${product.Quantity}"></td>
			
			<td>
				<img th:src="@{/uploads/{image}(image=${product.imageUrl})}" width="100" height="100" alt="Product Image">


		    </td>
			<td>
			<a th:href="@{/product/delete/{id}(id=${product.id})}"
			                   class="delete-btn"
			                   onclick="return confirm('Are you sure you want to delete this product?');">
			                   Delete</a>
							   
							   
							   <a th:href="@{/product/edit/{id}(id=${product.id})}"
							   								                   class="action-btn edit-btn">
							   								                   Edit
							   								                </a>
							   </td>
							   
							  
		</tr>
		</tableBody>
	</table>

    

</body>
</html>